.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.modalContent button + button {
  margin-left: 10px;
}
